<% include partials/head %>
    <link rel="stylesheet" type="text/css" href="css/storify/storify.css" />
    <link rel="import" href="http://www.polymer-project.org/components/paper-ripple/paper-ripple.html">
    <link rel="import" href="http://www.polymer-project.org/components/font-roboto/roboto.html">
    <link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">
    <link rel="import" href="http://www.polymer-project.org/components/core-icons/av-icons.html">
    <link rel="import" href="http://www.polymer-project.org/components/core-icons/social-icons.html">
    

    <style type="text/css">
    #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    </style>
    <div id="main">
        <% include partials/storify/UI-edit %>
            <% include partials/storify/UI-view %>
    </div>
    <script type="text/javascript" src="/lib/dropzone.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVzd4DmZi7gTTxGgl1xxu-dt9z-IOnRvc&libraries=visualization,geometry"></script>

    <!-- START APPLICATION -->

    <script src="/js/dist/storify.js"></script>
    <% include partials/foot %>
